.container {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    margin-top: 50px;
  }
  
  h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  .tile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .tile {
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .tile:hover {
    transform: scale(1.1);
  }
  
  .tile1 {
    background-color: #f7df1e;
  }
  
  .tile2 {
    background-color: #3572a5;
    color: #fff;
  }
  
  .tile3 {
    background-color: #5a5c5e;
    color: #fff;
  }
  
  .tile4 {
    background-color: #b07219;
    color: #fff;
  }
  
  .tile5 {
    background-color: #f05138;
    color: #fff;
  }
  
  .tile6 {
    background-color: #777bb3;
    color: #fff;
  }
  
  .tile7 {
    background-color: #cc342d;
    color: #fff;
  }
  
  .tile8 {
    background-color: #0078d7;
    color: #fff;
  }
  